  .body {
      border: 2px;
      border-style: none;
      justify-content: center;
      margin-left: 250px;
      margin-right: 250px;
      color: rgb(156, 154, 154);
      background-color: rgb(20, 18, 18);
  }

  .navbar {
      display: flex;
      margin-left: 50px;
      margin-right: 50px;
      color: whitesmoke;
      justify-content: space-between;
      margin-top: 20px;

  }

  .pinkbtn {
      height: 20px;
      width: 60px;
      padding-top: 15px;
      margin-right: -50px;

  }

  .top-logo {
      height: 100px;
      width: 100px;
      margin-top: -25px;

  }

  .paragraph {
      display: flex;
      gap: 15px;
  }

  .end {
      display: flex;
      gap: 10px;
      z-index: 4;
  }

  .back-card {
      height: 400px;
      width: 530px;
      margin-left: 240px;
  }

  .front-card {
      height: 400px;
      width: 530px;
      margin-left: 300px;
      margin-top: -360px;

  }

  .main {
      margin-left: 50px;
      margin-top: -400px;
      color: rgb(196, 190, 190);

  }

  .pinkh {
      color: rgb(178, 5, 158);
  }

  .h {
      font-size: 43px;
  }

  .p1 {
      font-size: 12px;
      color: rgb(138, 124, 124);


  }

  .p2 {
      color: whitesmoke;
      font-size: 15px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-left: 40px;
      margin-top: 50px;
      display: flex;
  }

  #pinkbtn {
      height: 20px;
      width: 60px;
      padding-top: 15px;
      z-index: 1;

  }

  #get {
      margin-left: -40px;
      z-index: 2;
  }




  .bottom {
      color: whitesmoke;
      display: flex;
      flex-direction: row;
      gap: 25px;
      margin-left: 45px;
      margin-top: 55px;
  }

  .first {
      display: flex;
      gap: 5px;
  }

  .head {
      font-size: 17px;
  }

  .happy {
      color: whitesmoke;
      font-size: 15px;
      margin-top: 10px;
  }

  .second {

      display: flex;
      gap: 5px;
  }

  .head2 {
      font-size: 17px;
  }

  .year {
      color: whitesmoke;
      font-size: 15px;
      margin-top: 10px;
  }