/* body {
    border: 2px;
    border-style: none;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
} */



.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    color: whitesmoke;
    margin-top: -5px;


}

.top-logo {
    height: 120px;
    width: 120px;
}

.paragraph {
    margin-top: 40px;
    display: flex;
    gap: 25px;
}

.end {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    z-index: 4;
}

.image {
    height: 20px;
    width: 40px;
    display: flex;
    justify-content: end;
    margin-left: 1100px;
    margin-top: -68px;
    z-index: 2;
}

.back-card {
    height: 500px;
    width: 780px;
    margin-left: 480px;
}

.front-card {
    height: 450px;
    width: 785px;
    margin-left: 650px;
    margin-top: -500px;

}

.main {
    margin-left: 50px;
    margin-top: -500px;
    color: rgb(196, 190, 190);

}

.h {
    font-size: 80px;
}

.p1 {
    margin-top: -20px;
    font-size: 25px;
    color: rgb(138, 124, 124);


}

.p2 {
    color: whitesmoke;
    margin-left: 55px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 10;
}

.p2style {
    margin-left: 45px;
    margin-top: -35px;
    z-index: 2;

}

.bottom {
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    gap: 75px;
    margin-left: 45px;
}

.first {
    display: flex;
    gap: 10px;
}

.head {
    font-size: 30px;
}

.happy {
    color: whitesmoke;
    font-size: 15px;
    margin-top: 30px;
}

.second {

    display: flex;
    gap: 10px;
}

.head2 {
    font-size: 30px;
}

.year {
    color: whitesmoke;
    font-size: 15px;
    margin-top: 30px;
}